
#vfd{
    margin: 0 auto;
    height:auto;
    width:350px;
}
#matrice{
    width:350px;
    height: 550px;
    position: relative;
}
canvas {
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index: 2;
}
#digitizer{
    position: absolute;
    top:0;
    left:0;
    vertical-align: inherit;
    overflow: inherit;
    padding:0;
    z-index: 10;
}

#game{
    width:350px;
}