body {
    background: #3a3a3a;
    background-image: url("../img/background.png"); background-repeat: repeat;
    font-size: 1em;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.jumbotron{
    background-image: url("../img/flins.jpg");
    max-width: 1200px;
    background-size: 1200px 800px;
    background-position:25% 25%;
}
/* Portrait phones and smaller */
@media(max-width:576px){
    #Musics, #playlist, #now_playing_album_cover {
        display:none;
    }
    .control{
        width: 20%;
        background: #3d3d3d;
        text-align: center;
        padding: 0 10px;
    }
}

section{
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #8d99a630 !important;
}

h2, h3, #gameHeader{
    height:25px;
    font-size: 1em;
    font-weight: bold;
}

.card-text{
    color: #2e2eb6;
    font-size: 0.8em;
    font-weight: bold;
}

#menu{
    background: #a6cafa;
}

.nav-link{
    color:inherit;
}

#topMusic::-webkit-scrollbar { 
    display: none; 
}

.music_player{
    width:100%;
    /*border: 10px solid rgb(0, 0, 0);*/
    background: rgb(36, 36, 36);
    padding: 0;
    margin: 0;
}



#title_now_playing_band, #title_now_playing_title, #time_song {
    color: #9bbe73;
    list-style-type:none;
    text-transform: uppercase;
}

#info_player{
    margin:0;
    padding:10px;
}


.control{
    width: 20%;
    border: 0px;
    text-align: center;
    padding: 5px 10px;
}

#showHide_player, #btnStart, #switchGame{
    padding: 0;
}

.control:hover{
    background: #00000000;
}

.control:active{
    color:#7ab16f;
    background: #00000000;
}
#now_playing_album_cover{
    width:100%;
}

#now_playing_band, #now_playing_title, #now_playing_duration {
    color: #7ab16f;
    height: 60px;
    margin: 0;
    font-size: 0.8em;
    list-style-type:none;
}

#now_playing_band, #now_playing_title {
    width: 40%;
}
#now_playing_duration{
    width: 20%;
}
